services:
	- App\Core\RouterFactory::createRouter
	- App\Model\Authenticator


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Manager

security:
    authentication:
        expiration: 60 minutes
        storage: session

session:
    autoStart: true